<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clipster</title>
  <%= stylesheet_link_tag    "clipster/application", :media => "all" %>

  <%= javascript_include_tag "clipster/application" %>
  <%= csrf_meta_tags %>
  <%=h yield(:head) %>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse collapse">
                        <%= link_to "Clipster", root_path, :class => "brand" %>
                        <ul class="nav">
                            <li><%= link_to "New Clip", :action=>:create %></li>
                            <li><%= link_to "Recent Clips", :action=>:list %></li>
                            <li><%= link_to "About", :action=>:about %></li>
                            <% if Clipster.config.associates_clip_with_user %>
                            <li><a href="javascript:void(0);"><%= Clipster.config.user_class %></a></li>
                            <% end %>
                        </ul>
                        <!-- <form class="navbar-search pull-right"> -->
                        <%= form_tag(search_clips_path, :method => 'get', :class => 'navbar-search pull-right') do %>
                             <%= text_field_tag(:search_term, "", :class=>"search-query", :placeholder=>"Search") %>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <%#
    Do we want a header, if so this is how we do it. not sure if needed with fixed navbar
    <header class="jumbotron">
        <div class="container">
            <h3>Clipster</h3>
            <p class="lead">Code snippets before they were cool</p>
        </div>
    </header>
    %>
    <div class="flash">
        <% if notice %>
        <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert"><%= alert %></p>
        <% end -%>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>
