<!DOCTYPE html>
<html lang="en">
<head>
  <title>Clipster</title>
  <%= stylesheet_link_tag    "clipster/bootstrap" %>
  <%= stylesheet_link_tag    "clipster/application", :media => "all" %>

  <%= javascript_include_tag "clipster/bootstrap" %>
  <%= javascript_include_tag "clipster/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <%= link_to "Clipster", root_path, :class => "brand" %>
                    <ul class="nav">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
