<legend>New Clip</legend>

<%= form_for(@clip, :url => { :action => "create" }) do |f| %>
  <%= f.error_messages %>
  
  <!-- title -->
  <div class="span5 offset1">
    <div class="span4 no-left">
      <%= f.label(:title) %>
      <%= f.text_field(:title, :value => @clip.title, :required=>"required") %>
    </div>
    <!-- /title -->
    
    <!-- language -->
    <div class="span4 no-left">
      <%= f.label(:language) %>
      <%= f.collection_select("language", @languages, :lang, :title, :selected => (@clip.language || "text")) %>
    </div>
    <!-- /language -->
  </div>
  <div class="span5 offset1 pull-right no-left">
    <!-- lifespan -->
    <div class="span4">
      <%= f.label(:lifespan) %>
      <%= f.select(:lifespan, @clip.lifespans) %>
    </div>
    <!-- /lifespan -->
    
    <!-- private -->
    <div class="span4">
      <%= f.label(:private) %>
      <%= f.check_box(:private, :value => @clip.private) %>
    </div>
    <!-- /private -->
  </div>
  
  <!-- clip -->
  <div class="span10 offset1">
    <%= f.label(:clip) %>
    <%= f.text_area(:clip, :class=>"span10", :rows=>"15", :value => @clip.clip, :required=>"required") %>
  </div>
  <!-- /clip -->
  
  <div class="span2 pull-right">
    <%= f.submit(:class=>"btn btn-primary") %>
  </div>
<% end %>