<legend>New Clip</legend>

<%= form_for(@clip, :url => { :action =>"create" }) do |f| %>
  <!-- title -->
  <div class="span4 offset1">
    <%= f.label(:title) %>
    <%= f.text_field(:title) %>
  </div>
  <!-- /title -->
  
  <!-- language -->
  <div class="span4 offset1 pull-right">
    <%= f.label(:language) %>
    <%= f.collection_select("language", @languages, :lang, :title, :selected=>"text") %>
  </div>
  <!-- /language -->
  
  <!-- clip -->
  <div class="span10 offset1">
    <%= f.label(:clip) %>
    <%= f.text_area(:clip, :class=>"span10", :rows=>"10") %>
  </div>
  <!-- /clip -->
  
  <!-- private -->
  <div class="span4 offset1">
    <%= f.label(:private) %>
    <%= f.check_box(:private) %>
  </div>
  <!-- /private -->
  
  <div class="span2 pull-right">
    <%= f.submit(:class=>"btn btn-primary") %>
  </div>
<% end %>