<legend>Recent Clips <%= "- #{params[:lang]}" unless params[:lang].nil? %></legend>
<div class="span7">
    <table class="table table-striped table-bordered table-hover span6">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Language
                </th>
                <th>
                    Created On
                </th>
            </tr>
        </thead>
        <tbody>
            <% @clips.each do |clip| %>
            <tr>
                <td><%= link_to clip.title, clip %></td>
                <td><%= clip.language %></td>
                <td><%= l clip.created_at, :format => :short %></td>
            </tr>
            <% end %>
            <% unless @clips.length > 0 %>
            <tr>
                <td colspan="3" style="text-align: center;">There are no public clips.</td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<aside class="languages bordered span3 offset1">
    <div class="title">Languages</div>
    <% @languages.each do |lang| %>
    <div><%= link_to lang.language, list_clips_path(:lang => lang.language) %> (<%= lang.count %>)</div>
    <% end %>
</aside>